@import "../images/icons/size16/*.png";
@include all-size16-sprites;

@import "../images/icons/size24/*.png";
@include all-size24-sprites;

@import "../images/icons/size32/*.png";
@include all-size32-sprites;

@import "../images/icons/size48/*.png";
@include all-size48-sprites;

.icon{
	display:inline-block;
	width:16px;
	height:16px;
}